<app-modal-container #modal>
  <app-modal-layout [title]="'Add new Job'" (closeModal)="closeModal()">
    <app-create-new-job-form
      #form
      (valid)="valid = $event"
      (data)="data = $event"
    ></app-create-new-job-form>

    <div footer>
      @if (saveResult().isPending) {
      <app-loading-button></app-loading-button>
      } @else {

      <button
        [disabled]="!valid"
        (click)="save()"
        type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        [ngClass]="!valid ? 'cursor-not-allowed' : 'cursor-pointer'"
      >
        Add new Job
      </button>
      }

      <button
        type="button"
        (click)="closeModal()"
        class="py-2.5 px-5 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
      >
        Cancel
      </button>
    </div>
  </app-modal-layout>
</app-modal-container>
