<app-layout>
  <!-- Error  
-->
  @if (data().isError) {
  <p class="dark:text-white">Error</p>
  }
  <!-- Loading -->
  @if (data().isLoading) {
  <p class="dark:text-white">Loading..</p>
  }
  <!-- Data -->
  @if (data().data; as data) {
  <!-- For -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Name</th>
          <th scope="col" class="px-6 py-3">
            <div class="flex items-center">Value</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            All pictures saved
          </th>

          <td class="px-6 py-4">{{ data.macthing_pictures_saved }}</td>
        </tr>
        <tr class="bg-white dark:bg-gray-800 dark:border-gray-700">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
          >
            All videos checked
          </th>

          <td class="px-6 py-4">{{ data.videos_checked }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  }
  <!-- Error -->
  @if (data().isError) {
  <p class="dark:text-white">Error</p>
  }
</app-layout>
