<form [formGroup]="form">
  <div class="mb-5">
    <label
      for="searchQuery"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Query keyword</label
    >
    <input
      formControlName="searchQuery"
      type="searchQuery"
      id="searchQuery"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />

    <!-- Errors -->
    @if (searchQuery?.touched){
    <!-- Required -->
    @if( searchQuery?.hasError('required') ) {
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">Oops!</span> SearchQuery is required.
    </p>
    }
    <!-- Longer than 5 char -->
    @if( searchQuery?.hasError('minlength') ) {
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">Oops!</span> SearchQuery is too short.
    </p>
    } }
  </div>
  <div class="mb-5">
    <label
      for="limit"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Max videos to download</label
    >
    <input
      formControlName="limit"
      type="number"
      id="limit"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    />
    <!-- Errors -->
    @if (limit?.touched){
    <!-- Required -->
    @if( limit?.hasError('required') ) {
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">Oops!</span> Limit is required.
    </p>
    }
    <!-- MinMax -->
    @if( limit?.hasError('min') || limit?.hasError('max') ) {
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">
      <span class="font-medium">Oops!</span> Limit is out of range.
    </p>
    } }
  </div>
  <select
    id="filter"
    formControlName="filter"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option value="" selected>Choose a filter to use</option>
    @for (item of filterOptions(); track item.value) {
    <option value="{{ item.value }}">{{ item.label }}</option>
    }
  </select>

  @if(selectedFilterPictures()!= null) {
  <div class="mt-4 mb-2">
    <span class="text-base font-semibold text-gray-900 dark:text-white">
      Chosen filter:
    </span>
  </div>
  <ul class="flex flex-row flex-wrap gap-4 mb-3">
    @for (item of selectedFilterPictures(); track item) {
    <li>
      <img class="object-contain w-32 h-32" [src]="item.url" alt="image" />
    </li>
    }
  </ul>
  }
</form>
