<form [formGroup]="form">
    <div class="mb-5">
        <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Name</label
        >
        <input
            type="text"
            formControlName="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
    </div>
    <div class="mb-5">
        <label
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Video file</label
        >
        <input
            type="file"
            accept="video/*"
            (change)="onFileSelected($event)"
            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
        />
    </div>
    <select
        formControlName="filter"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
        <option value="" selected>Choose a filter to use</option>
        @for (item of filterOptions(); track item.value) {
            <option value="{{ item.value }}">{{ item.label }}</option>
        }
    </select>
</form>
