<form [formGroup]="form">
    <div class="mb-5">
        <label
            for="youtubeId"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >YotubeId</label
        >
        <input
            formControlName="youtubeId"
            type="youtubeId"
            id="youtubeId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        @if (youtubeId?.touched) {
            @if (youtubeId?.hasError('required')) {
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oops!</span> Youtube Id is
                    required.
                </p>
            }
            @if (youtubeId?.hasError('minlength')) {
                <p class="mt-2 text-sm text-red-600 dark:text-red-500">
                    <span class="font-medium">Oops!</span> Youtube Id is too
                    short.
                </p>
            }
        }
    </div>

    <select
        id="filter"
        formControlName="filter"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
        <option value="" selected>Choose a filter to use</option>
        @for (item of filterOptions(); track item.value) {
            <option value="{{ item.value }}">{{ item.label }}</option>
        }
    </select>
</form>
