<!-- <iframe
  width="355.56"
  height="200"
  [src]="embedUrl | safe"
  frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"
  ><small
    >Powered by
    <a href="https://embed.tube/embed-code-generator/youtube/"
      >youtube embed video</a
    >
    generator</small
  ></iframe
> -->
<a [href]="link" target="_blank">
  <img
    class="rounded-md"
    width="3555.6"
    height="2000"
    [src]="embedUrl | safe"
    alt="image"
  />
</a>
